<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link th:replace="includes/bootstrapCSS">
</head>
<body class="d-flex justify-content-center bg-light">

<form action="/registration" method="post" class="col-md-4 align-self-center position-absolute top-50 translate-middle-y d-flex flex-column" th:object="${userForm}">
    <h2 class="d-flex justify-content-center">Registration form</h2>

    <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameInputDesc" name="username" th:field="*{username}">
        <div id="usernameError" class="form-text text-danger" hidden></div>
    </div>
    <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" name="password" th:field="*{password}">
        <div class="form-text">We'll never share your password with anyone else.</div>
        <div id="passwordError" class="form-text text-danger" hidden></div>
    </div>
    <div class="mb-3">
        <label for="rePasswordInput" class="form-label">Re write password</label>
        <input type="password" class="form-control" id="rePasswordInput" name="re-password">
        <div id="rePasswordError" class="form-text text-danger" hidden>Password don't match.</div>
    </div>
    <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Submit</button>
    <a href="/login" class="link-primary">Have an account? Click to login</a>
</form>

<div th:replace="includes/bootstrapJS"></div>
<div th:replace="includes/JQuery"></div>
<script type="text/javascript" th:src="@{/js/registrationValidation.js}"></script>
</body>
</html>